<a href="https://colab.research.google.com/github/rajeshnayak23/RAJESHNAYAK_2001206023_AIML/blob/main/functions_24_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def sum(a,b): 
  return (a+b)
x=int(input("enter x"))
y=int(input("enter y"))
print(sum(x,y))

enter x10
enter y33
43

In [8]:
def sum(a,b):
  print("a+b=",a+b)
x=int(input("enter the value of x"))
y=int(input("rnter the value of y"))
sum(x,y)

enter the value of x10
rnter the value of y38
a+b= 48

In [9]:
def adding(x,y):
  i=x+y
  return i
result=adding(16,25)
print(result)

41

In [12]:
def show(rows):
  for i in range(0,rows+1):
    for j in range (i):
      print(i,end='')
    print()
rows=int(input("enter the rows"))
show(rows)

enter the rows5

1
22
333
4444
55555

In [16]:
def show():
  for i in range(0,5):
    for j in range (i,5):
      print(5-i,end='')
    print()
print(show())

55555
4444
333
22
1
None

In [28]:
#local variable remains inside the function and global variable remains out side the function
def greet():
  message='Hello'
  print('local',message)
greet()
message=('ABIT CSE')
print(message)

local Hello
ABIT CSE

In [29]:
add=lambda num:num+4
print(add(6))

10

In [30]:
a=lambda x,y:x+y
print(a(1,2))

3

In [38]:
def factorial(x):
  if x==1:
    return 1
  else:
    return(x*factorial(x-1))
num=int(input("enter the number"))
print("the factorial of",num,"is",factorial(num))

enter the number6
the factorial of 6 is 720

In [39]:
def fibo(n):
 if n <= 1:
  return n
 else:
  return(fibo(n-1) + fibo(n-2))
nterms = int(input("How many terms? "))
for i in range(nterms):  
       print(fibo(i))

How many terms? 5
5

In [41]:
import math as rajesh
pie=rajesh.pi
print("the value of pi is",pie)

the value of pi is 3.141592653589793

In [43]:
import math
pie=math.pi
print(pie)

3.141592653589793

In [48]:
import random as rajesh
for i in range(10):
  print(rajesh.randint(0,25))

15
18
23
16
25
20
16
20
24
15

In [50]:
import random
import math
for i in range(5):
 print(random.randint(1, 25))
 print(math.pi)

25
3.141592653589793
7
3.141592653589793
5
3.141592653589793
16
3.141592653589793
8
3.141592653589793