<a href="https://colab.research.google.com/github/rajeshnayak23/RAJESHNAYAK_2001206023_AIML/blob/main/RAJESH__2001206023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#USING for statement in PYTHON
x='RAJESH'
for i in x:
  print(i)

R
A
J
E
S
H

In [ ]:
a=int(input("enter a number"))
rev=0
r=a%10
rev=(rev*10)+r
a=a/10
print(rev)

enter a number123
3

In [ ]:
#USE OF elif statement in PYTHON
number=int(input("enter a number"))
if number==10:
  print("number is equals to 10")
elif number==50:
  print("number is equals to 50")
elif number==100:
  print("the number is equal to 100")
else:
  print("number is not equal to 10,50 or 100")

enter a number50
number is equals to 50

In [ ]:
#USING if Statement IN PYTHON
a=int(input("enter a number"))
if a%2==0:
  print('even no=',a)

enter a number46
even no= 46

In [ ]:
#USING if-else Statement in PYTHON
a=int(input("enter a number"))
if a%2==0:
  print('even no=',a)
else:
  print('odd no=',a)

enter a number45
odd no= 45

In [ ]:
x='hello'
print('l' not in x)

False

In [ ]:
#USING ASSIGNMENT OPERATORS
a=5
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a//=5
print(a)
a**=5
print(a)
a&=5
print(a)
a|=5
print(a)
a^=5
print(a)
a>>=5
print(a)
a<<=5
print(a)

10
5
25
5.0
0.0
0.0
0.0

TypeError: ignored

In [ ]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [ ]:
a=5
b=2
print (a<<b)

20

In [ ]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)
print(a or c)

True
False
True
True
True

In [ ]:
a=23
b=12.5
c=True
d='sdfghj'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
#using of / and //
a=8
b=3
print(a/b)
print(a//b)

2.6666666666666665
2

In [ ]:
a=2+5j
print(a)
b=3+10j
c=a+b
print(c)

(2+5j)
(5+15j)

In [ ]:
a=2
b=5
print(2**5)

32

In [ ]:
x=0b10100
y=100
z=0o215
u=0x12d
float_1=100.5
float_2=1.5e2
a=5+3.14j
print(x,y,z,u)
print(float_1,float_2)
print(a,a.imag,a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [ ]:
print("hello")

hello

In [ ]:
a=2
b=3
print(a+b)

5

In [ ]:
#TO CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('enter your choice'))
for i in list:
   c=n*i
   print(c)

enter your choice3
3
6
9
12
15
18
21
24
27
30

In [ ]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
  sum=sum+i
print("the sum is",sum)

the sum is 183

In [ ]:
#USING range() function in for loop(using [end='']) 
for i in range(10):
  print(i,end='')

0123456789

In [ ]:
#without end=''
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Program to print table of given number.
n=int(input("enter the number"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

enter the number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
#using range() increment by 2 and find numbersum
n=int(input("enter the number"))
sum=0
for i in range(2,n,2):
 sum=sum+i
print(sum)

enter the number20
90

In [ ]:
#using len() function
list=['peter','josheph','shubha','papuni']
for i in range(len(list)):
  print("Hello",list[i])

Hello peter
Hello josheph
Hello shubha
Hello papuni

In [ ]:
#nested for lopp
for i in range(5):
  for j in range(5):
    print(i+1,end='')
  print('')

11111
22222
33333
44444
55555

In [ ]:
#
rows=int(input("the number of rows"))
for i in range(0,rows+1):   #outer loop will print no of rows
  for j in range(i):        #inner loop will print no of astricks
    print("*",end=' ')
  print( )

the number of rows5

*
* *
* * *
* * * *
* * * * *

In [ ]:
rows=int(input("enter the no of rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end='')
  print()

enter the no of rows5

1
22
333
4444
55555

In [ ]:
#USING while loop
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print('sum from 1 to 10 =',s)

sum from 1 to 10 = 55

In [ ]:
num=int(input("enter the num"))
rev=0
while num>0:
  rem=int(num%10)
  rev=rem+rev*10
  num=int(num/10)
print(rev)

enter the num123
321

In [ ]:
#break statement
i=1 
while i < 10:
  print(i)
  if i==5:
     break
  i=i+1

1
2
3
4
5

In [ ]:
#continue
i=1
while i<=10:
  if i==5:
    print(i)
    continue
  i=i+1

In [3]:
for var in "ABIT":
  if var=="B":
    continue
  print(var)

A
I
T

In [4]:
for i in range(10):
  print(i)
  if i==2:
    break

0
1
2

In [13]:
#WAP TO PRINT 1 TO 10 TO REMOVE 5
for i in range(1,11):
  if i==5:
      continue
  print(i)

1
2
3
4
6
7
8
9
10

In [14]:
li=['a','b','c','d']
for i in li:
  if(i=='a'):
    pass
  else:
    print(i)

b
c
d

In [35]:
#wap python program to print n even numbers and pass the value after 10 upto n.
n=int(input("enter the value of n :"))
for i in range(0,n+1,2):
  if(i <=10):
    pass
  else:
    print(i)

enter the value of n :20
12
14
16
18
20

In [36]:
def SHOW():
  print("hello python")
SHOW()

hello python

In [37]:
def sum(a,b):
  print("a+b=",a+b)
sum(22,33)

a+b= 55

In [40]:
def sum(a,b):
  print("a+b=",a+b)
x=int(input("enter the value of x"))
y=int(input("rnter the value of y"))
sum(x,y)

enter the value of x10
rnter the value of y45
a+b= 55

In [49]:
#wap using function and take the input from keyboard of a number to reverse it and count number of odd and evens.
n=int(input("enter the number :"))
rev=0
while n>0:
  rem=n%10
  rev=rev*10+temp
  n=n//10
print(rev)

enter the number :123
111

In [ ]:
def rev()